.row
  %br
.row
  .col.col-lg-4.col-offset-4.m-t-large
    %section.panel.text-center
      %header.panel-heading.text-center
        Github API Project

      %a.btn.btn-facebook.m-b-small
        %i.icon-github Sign in with Github